<a href="https://colab.research.google.com/github/nosgueira/PLN-2022-1/blob/main/Atividade06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 6: Construção, Anotação e Avaliação de Qualidade


- Enzo Yoshio 19/0027303
- Gabriel da Silva Corvino Nogueira 18/0113330
- Lucas de Almeida Bandeira Macedo  19/0047089

## Preparando o ambiente

### Instalação de Pacotes

In [1]:
!pip install -q krippendorff

### Imports

In [2]:
from google.colab import drive
import json
import krippendorff
import numpy as np
import os
import pandas as pd

## Matriz de Concordâncias

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
PATH_enzo = '/content/drive/MyDrive/HumorDetectionAnnotation/ann.json/members/eyz/pool/'
PATH_gabriel = '/content/drive/MyDrive/HumorDetectionAnnotation/ann.json/members/nosgueira/pool/'

In [5]:
anotacoes = {'enzo':[], 'gabriel':[]}
files1 = sorted(os.listdir(PATH_enzo))
files2 = sorted(os.listdir(PATH_gabriel))

for (file1, file2) in zip(files1,files2):
    dic1 = json.load(open(PATH_enzo+file1, 'r'))
    dic2 = json.load(open(PATH_gabriel+file2, 'r'))
    anotacoes['enzo'].append(dic1['metas']['m_1']['value'])
    anotacoes['gabriel'].append(dic2['metas']['m_1']['value'])

In [7]:
df = pd.DataFrame(anotacoes).T
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
enzo,False,True,False,True,True,True,False,False,True,False,...,True,False,False,True,False,False,True,True,True,False
gabriel,False,True,False,True,True,True,True,False,True,False,...,True,False,False,True,True,False,True,True,True,False

## Qualidade da Anotação

Transformar dicionario em matriz de valores numéricos

In [8]:
matx = [np.array(anotacao)*1 for anotacao in anotacoes.values()]
matx

[array([0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
        1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0]),
 array([0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0])]

Cálculo do coeficiênte alpha de krippendorff para medir a qualidade da anotação:

In [9]:
krippendorff.alpha(matx)

0.8603508771929824